Repository Lupus590/ArmA-3-Mod-Template, changes with the labels that .github/labeler.yml gives for each.
All labels: meta, documentation, area: config, area: model, area: texture, area: script

.github/labeler.yml:

meta:
- changed-files:
    - any-glob-to-any-file: ['meta/**', '.github/**', '.hemtt/**', '.editorconfig', '.gitattributes', '.gitignore', '*.bat', '*.ps1', '*.sh', '*.md']

documentation:
- changed-files:
    - any-glob-to-any-file: ['meta/doc/**']

"area: config":
- changed-files:
    - any-glob-to-any-file: ['**/*.hpp', '**/*.cpp', '**/*.rvmat']

"area: model":
- changed-files:
    - any-glob-to-any-file: ['**/*.p3d']

"area: texture":
- changed-files:
    - any-glob-to-any-file: ['**/*.paa', '**/*.png']

"area: script":
- changed-files:
    - any-glob-to-any-file: ['**/*.sqf']

Update .gitignore to include additional patterns
  .gitignore
Labels: meta

add build scrips
  build.bat
  build.ps1
  build.sh
Labels: meta

Remove unnneeded git ignore entries
  .gitignore
Labels: meta

apparently hemtt doesn't check before trying to test so now we do maybe a bit too padantic though
  build.ps1
  release.ps1
  test.ps1
Labels: meta

I've had enough of pressing enter when trying to test
  build.ps1
  check.ps1
  release.ps1
  test.ps1
Labels: meta

add readme and license to build output
  .hemtt/project.toml
  README.md
Labels: meta

remove extra newlines
  .gitignore
Labels: meta

fix whitespace
  build.ps1
  check.ps1
  release.ps1
  test.ps1
Labels: meta

remove extra newline
  meta/doc/Code_Style.md
Labels: meta, documentation

fix typo
  README.md
Labels: meta

recomended extentions
  .gitignore
  .vscode/extensions.json
Labels: meta

fixMiscIssues script
  fixMiscIssues.bat
  fixMiscIssues.ps1
  fixMiscIssues.sh
Labels: meta

Pause-If-FromExplorer
  build.ps1
  check.ps1
  convertToLFS.ps1
  enableWorkflows.ps1
  fixMiscIssues.ps1
  prepRelease.ps1
  release.ps1
  setup.ps1
  test.ps1
Labels: meta

mission to load on startup
  .hemtt/project.toml
Labels: meta

pubish script
  meta.cpp
  publish.bat
  publish.ps1
  publish.sh
Labels: meta, area: config

defines
  addons/core/config.cpp
  addons/core/define.hpp
  addons/core/script_version.hpp
Labels: area: config
