Repository Lupus590/ArmA-3-Mod-Template, changes with the labels that .github/labeler.yml gives for each.
All labels: meta, documentation, area: config, area: model, area: texture, area: script

Add CODEOWNERS file to define code ownership for the project
  .github/CODEOWNERS
Labels: meta

Add changelog reminder workflow to prompt updates on mod content changes
  .github/workflows/changelog-reminder.yml
Labels: meta

Add conditional step to skip job if no release label is found
  .github/workflows/prep-release.yml
Labels: meta

Add CONTRIBUTING.md to outline contribution guidelines and licensing
  .github/CONTRIBUTING.md
Labels: meta

Add greetings workflow to welcome contributors on pull requests
  .github/workflows/greetings.yml
Labels: meta

Add Editor Config Enforcer workflow for consistent code formatting
  .github/workflows/editor-config-enforcer.yml
Labels: meta

Fix workflow configuration for Editor Config Enforcer to ensure proper permissions and job execution
  .github/workflows/editor-config-enforcer.yml
Labels: meta

Add release steps documentation for senior developers
  meta/doc/Release_Steps.md
Labels: meta, documentation

Add Getting Started documentation for setup and contributing guidelines
  meta/doc/Getting_Started.md
Labels: meta, documentation

Improve Getting Started documentation for clarity and consistency
  meta/doc/Getting_Started.md
Labels: meta, documentation

Add PBO Decompiler script and usage documentation
  meta/tools/pboDecompiler.ps1
  meta/tools/readme.md
Labels: meta

switch back to this pbo manager
  meta/tools/pboDecompiler.ps1
Labels: meta

Add Code Style documentation for project consistency
  meta/doc/Code_Style.md
Labels: meta, documentation

make sure include folder exists
  include/readme.md
Labels: none

Add GitHub Actions workflows for HEMTT build and release processes
  .github/workflows/hemtt-build.yml
  .github/workflows/make-release.yml.disabled
Labels: meta

Add README.md for main addon
  addons/main/README.md
Labels: none

Add CODE_OF_CONDUCT.md to establish community guidelines
  .github/CODE_OF_CONDUCT.md
Labels: meta

So templates don't work with Git LFS
  README.md
Labels: meta

Simplify changelog reminder workflow by removing unnecessary checks for source file changes
  .github/workflows/changelog-reminder.yml
Labels: meta

Remove labels from issue and pull request templates for bug reports and feature requests
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/Bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/Feature.md
Labels: meta

Remove unnecessary blank line from Getting Started guide
  meta/doc/Getting_Started.md
Labels: meta, documentation

Remove unnecessary blank lines and improve clarity in Getting Started guide
  meta/doc/Getting_Started.md
Labels: meta, documentation

Remove unnecessary blank lines in Getting Started guide
  meta/doc/Getting_Started.md
Labels: meta, documentation

Add a blank line for better readability in Code Style document
  meta/doc/Code_Style.md
Labels: meta, documentation

Remove unnecessary blank line in Code Style document
  meta/doc/Code_Style.md
Labels: meta, documentation

Be a bit more flexible incase the unreleased section is removed in the changelog
  prepRelease.ps1
Labels: meta

more bits
  .gitattributes
  .gitignore
Labels: meta

If you don't know what it is then leave it be
  .editorconfig
Labels: meta

Better include folder readme
  include/readme.md
Labels: none

Add Visual Studio Code and related extensions to requirements
  README.md
Labels: meta

backported changes from Zephyr
  .github/ISSUE_TEMPLATE/Task.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/changelog-reminder.yml
  .github/workflows/editor-config-enforcer.yml
  .hemtt/project.toml
  addons/core/$PREFIX$
  addons/core/README.md
  addons/core/config.cpp
  addons/core/script_version.hpp
  addons/main/$PREFIX$
  meta/tools/readme.md
  prepRelease.ps1
Labels: meta, area: config

more backporting
  addons/core/config.cpp
  prepRelease.ps1
Labels: meta, area: config

Convert logo.paa from Git LFS to normal git object with conversion scripts (#2)
  .gitattributes
  convertToLFS.bat
  convertToLFS.ps1
  convertToLFS.sh
  logo.paa
Labels: meta, area: texture

Better download links in readme
  README.md
Labels: meta

Disable workflows and add setup scripts for repo initialization (#3)
  .github/workflows/auto-author-assign.yml.disabled
  .github/workflows/changelog-reminder.yml.disabled
  .github/workflows/editor-config-enforcer.yml.disabled
  .github/workflows/greetings.yml.disabled
  .github/workflows/hemtt-build.yml.disabled
  .github/workflows/make-release.yml.wip
  .github/workflows/pr-labeler.yml.disabled
  .github/workflows/prep-release.yml.disabled
  .github/workflows/stale.yml.disabled
  README.md
  enableWorkflows.bat
  enableWorkflows.ps1
  enableWorkflows.sh
  setup.bat
  setup.ps1
  setup.sh
Labels: meta

reference setup script in getting started
  README.md
Labels: meta

Fix formatting issues in README.md
  README.md
Labels: meta

add note about deleting one time use scripts
  README.md
Labels: meta

Update README
  README.md
Labels: meta

Modify stale.yml to run weekly on Saturdays
  .github/workflows/stale.yml.disabled
Labels: meta

.github/labeler.yml:

meta:
- changed-files:
    - any-glob-to-any-file: ['meta/**', '.github/**', '.hemtt/**', '.editorconfig', '.gitattributes', '.gitignore', '*.bat', '*.ps1', '*.sh', '*.md']

documentation:
- changed-files:
    - any-glob-to-any-file: ['meta/doc/**']

"area: config":
- changed-files:
    - any-glob-to-any-file: ['**/*.hpp', '**/*.cpp', '**/*.rvmat']

"area: model":
- changed-files:
    - any-glob-to-any-file: ['**/*.p3d']

"area: texture":
- changed-files:
    - any-glob-to-any-file: ['**/*.paa', '**/*.png']

"area: script":
- changed-files:
    - any-glob-to-any-file: ['**/*.sqf']
